BasedOnStyle: LLVM
IndentWidth: 4
UseTab: false
ColumnLimit: 80
---
Language: Cpp
AccessModifierOffset: -4
# AlignAfterOpenBracket: Align
AlignConsecutiveDeclarations: true
AlignOperands: true
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
# AlwaysBreakBeforeMultilineStrings: false
# AllowAllParametersOfDeclarationOnNextLine: false
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Never
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BinPackArguments: false
BinPackParameters: false
ConstructorInitializerIndentWidth: 0
CompactNamespaces: false
BreakConstructorInitializers: BeforeComma
IndentCaseLabels: false
PenaltyBreakAssignment: 50
SpaceAfterTemplateKeyword: false
SplitEmptyFunction: true
SplitEmptyRecord: true
# PenaltyBreakBeforeFirstCallParameter: 1
